@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
  
  /* COMMON */

*:not(.material-icons) {
    font-family: "Noto Sans KR", sans-serif !important;
}
  .inner {
    margin: 0 auto;
    position: relative;
}
p {
    color: #858585;
    font-size: 12px;
}



body {
    width: 375px;
    /* border: 2px solid green; */
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
main {
    margin: 0 auto;
    background: #EEECE5;
    display: flex;
    overflow: hidden;
    height: 661px;
}
section {
    /* border: 2px solid dodgerblue; */
    width: 375px;
    margin-right: 4px;
}
section .account {
    /* border: 2px solid red; */
    padding: 2px 20px;
    margin: 32px 0;
}
section .account > .account__header {
    /* border: 2px solid darkorange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
section .account > .account__header > img {
    margin-left: 6px;
}
section .account > .account__header > h3 {
    margin-left: 12px;
}
section .account > .account__header > .icons {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
section .account > .account__header > .icons > .easy_payment_wrap {
    margin-right: 12px;
    position: relative;
}
section .account > .account__header > .icons > .easy_payment_wrap::after {
    content: '';
    clear: both;
    display: block;
    width: 17px;
    border: 1px solid #FF5F00;
    background-color: #FF5F00;
    position: absolute;
    top: 10px;
    left: 2px;
}
section .account__main {
    /* border: 2px solid darkorange; */
    padding: 10px 20px;
    margin-top: 15px;
}
section .account__main > .account__main__status_board {
    width: 259px;  
    /* border: 2px solid black; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 10px 6px;
    border-radius: 12px;
}
section .account__main > .account__main__status_board 
.account__main__account_balance {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 25px 0;    
}
section .account__main > .account__main__status_board
.account__main__account_check {
    width: 202px;
    /* border: 1px solid black; */
    position: relative;
    margin-bottom: 16px;
}
section .account__main > .account__main__status_board
.account__main__account_check .total_limit {
    width: 182px;
    height: 4px;
    background-color: #C4C4C4;
    border-radius: 5px;
    margin: 0 auto;
}
section .account__main > .account__main__status_board
.account__main__account_check .usage_limit {
    width: 108px;
    height: 4px;
    background-color: #FFDB4C;
    border-radius: 5px 0 0 5px;
}
section .account__main > .account__main__status_board
.account__main__account_check .limit_line_wrap {
    width: 4px;
    height: 17px;
    position: absolute;
    top: -9px;
    right: 65px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: #fff;
} 
section .account__main > .account__main__status_board
.account__main__account_check .limit_line {
    width: 4px;
    height: 17px;
    background: #FF5F00;
    border-radius: 2px;
}
section .account__main > .account__main__status_board .remittance {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 14px;
    right: 15px;
}
section .account__main > .account__main__status_board .graph {
    position: absolute;
    bottom: 32px;
    right: 15px;
}

section .account > .account__ad {
    /* border: 2px solid darkorange; */
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}
section .account > .account__ad li {
    margin-left: 35px;
}
section .account > .account__ad .ad_move {
    color: black;
    margin-left: 7px;
    text-align: center;
}
section .contents {
    /* border: 2px solid #f5f5f5; */
    background-color: #f5f5f5;
    box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
    border-radius: 30px 30px 0px 0px;
    padding: 24px 20px 10px;
    position: relative;
    margin-top: 17px;
}
section .contents > .up_btn_wrap {
    /* border: 2px solid red; */
    width: 100px;
    margin: auto;
    padding: 7px 10px;
    position: absolute;
    top: -3px;
    left: 120px;
    cursor: pointer;
}
section .contents > .up_btn_wrap > .up_btn {
    border: 1px solid #c4c4c4;
    width: 50px;
    height: 1px;
    padding: 0;
    margin: auto;
    border-radius: 4px;
    background-color: #c4c4c4;
}
section .contents .contents__money-box {
    /* border: 2px solid darkorange; */
}
section .contents .contents__money-box ul {
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5px;
}
section .contents .contents__money-box ul li {
    /* border: 2px solid blue; */
    width: 143px;
    margin: 0 10px;
    flex: 0 0 auto;
}
section .contents .contents__money-box .saving_box {
    /* border: 2px solid black; */
    background-color: #dadada;
    border-radius: 6px;
    padding-right: 8px;
}
section .contents .contents__money-box .saving_box .savings {
    border-radius: 6px 0px 0px 6px;
    padding: 2px 5px;
}
section .contents .contents__money-box .saving_box .savings p {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 3px;
    width: max-content;
}
section .contents .contents__money-box .add_saving_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
section .contents .contents__money-box .add_saving_box > .plus_wrap {
    width: 25px;
    height: 25px;
    background: #FF5F00;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contents .contents__money-box .add_saving_box > .plus_wrap span {
    color: #fff;
    font-size: 1.6em;
    
}
section .contents .contents__money-box .add_saving_box > span {
    font-size: 14px;
    font-weight: bold;
    color: #FF5F00;
    margin-top: 1px;

}

section .contents > .contents__history {
    /* border: 2px solid darkorange; */
    margin-top: 5px;
    height: 490px;
    overflow: scroll;
    -ms-overflow-style: none;
}
section .contents > .contents__history::-webkit-scrollbar {
    display: none;
}
section .contents > .contents__history > ul li:not(.contents__history > ul li:last-child) {
    margin-bottom: 38px;
}

section .contents > .contents__history div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 10px 15px;
    border-bottom: 1px solid #dcdcdc;
}
section .contents > .contents__history div .history,
section .contents > .contents__history div .price {
    color: black;
    font-size: 18px;
    font-weight: 350;
}
section .contents > .contents__history div p:not(.today_spending):not(.date) {
    /* font-size: 17px;
    color: #444444; */
}
section .contents > .contents__history div:first-child {
    padding: 5px 0px 2px;
    border-bottom: none;
}
section .contents > .contents__history .date {
    color: black;
    font-weight: 700;
    font-size: 14px;
}
section .contents > .contents__history .today_spending {
    color: #b4b4b4;
    font-size: 14px;
    font-weight: 400;
}
section .contents > .contents__history .remittance_list .sender {
    color: black;
    font-weight: 350;
    font-size: 18px;
}
section .contents > .contents__history .remittance_list .remittance {
    color: #FF5F00;
    position: relative;
    font-size: 18px;
    font-weight: 300;
}




/* Create savingsbox */
main .create_savings_box {
    width: 376px;
    height: 360px;
    background-color: #ffffffff;
    box-shadow: 0px -5px 14px rgb(189 144 28 / 8%);
    border-radius: 30px 30px 0px 0px;
    transition: 1s ease;
    transform: translateY(-165px);
    display: flex;
    align-items: center;
    align-content: flex-start;
}

main .create_savings_box .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .create_savings_box .inner input {
    border: 2px solid darkorange;
    /* border: 0; */
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 0px 8px 10px;
    margin: 9px 0;
}
main .create_savings_box .inner input:last-child {
    margin-bottom: 42px;
}
main .create_savings_box .inner .check {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
main .create_savings_box .inner .check .add, 
main .create_savings_box .inner .check .cancel {
    font-size: 38px;
    font-weight: bold;
    padding: 10px;
}
main .create_savings_box .inner .check .add {
    color: rgb(26 234 26);
}
main .create_savings_box .inner .check .cancel {
    color: red;
}



/* NAV */
nav {
    background: linear-gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
nav .home {
    background-image: url('/images/home_bg.png');
}
nav .home img {
    width: 24px;
    height: 21px;
    object-fit: cover;
}
nav .group img {
    margin-top: 7px;
    width: 24px;
    height: 21px;
    object-fit: cover;
}
nav .group img {
    margin-top: 2px;
    width: 24px;
    height: 22px;
    object-fit: cover;
}
nav .more img {
    margin-bottom: 5px;
    width: 27px;
    height: 6px;
    object-fit: cover;
}